<h2 class = "home-header">
	<% if current_user %>
        ~ Welcome <strong><%= current_user.name %></strong>! ~
      <% else %>
        ~ Register your account through facebook! ~
      <% end %>
</h2>

<!-- <h2 class = "home-header">
<%= form_tag create_user_path do %>
  <%= label_tag :name, "Your Name here!" %>
  <%= text_area_tag :name, nil, :placeholder => 'ex: Warren Shen', :maxlength => 25, :size => 40 %>
  <%= submit_tag "Create user", :class => 'button' %>
<% end %>
</h2>
 -->

<div id="container" style="background-color:orange;overflow:hidden;width:100%; opacity: 0.4;">
  <div id="inner" style="overflow:hidden;width: 2000px">
     <div style="float:left;background-color:blue;width:50px;height:50px; opacity: 1.0;">
     </div>
     <div style="float:left;background-color:green;width:100px;height:50px; opacity: 0.7;">
     </div>
     <div style="float:left;background-color:red;width:50px;height:50px; opacity: 0.5;">
     </div>
     
  </div>
</div>

<br>

<div id = "container" style = "overflow: hidden; width: 100%">
  <div id="inner" style = "overflow: hidden; width: 2000px">
		<div class = "usersbox" style = "float:left; width: 300px; height: 300px">

			<div class = "usertitle">
			<h3 id = "list"> USERS </h3>
			</div>

			<br>
			<hr style = "width: 150px;">

			<div class = "users">
			<% @users.each do |user| %>
				<h3> <%= link_to user.name, user_path(user: user) %> </h3> 
			<% end %>
			</div>

			</br>

		</div>

		<div class = "description">
			<h1 class = "projecttitle"> ConnectFour - Ruby on Rails </h1>

			<hr style = "width: 500px;">
			</br>

			Hey, so this is our Ruby on Rails Project :D </br>
			We made a connect four game. We had a lot of fun making the web app and  </br> 
			I hope you guys can have a lot of fun playing around and interacting with our connect four games! </br> 

			<h1> ⤴︎ ε=ε=(ง ˃̶͈̀ᗨ˂̶͈́)۶ ⤴︎ </h1> 

			Melissa Ly | Nanxi Wang | Tina Zheng | Casey Takeda | Justin Ma


		</div>

	</div>
</div>


<br>
<br>
<br>


