<!DOCTYPE html>
<html>
<head>
  <title>Connect Four</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>

  <div class = "sign">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign Out", signout_path, id: "sign_out", :class => 'signo' %>
      <% else %>
        <%= link_to "Sign In With Facebook", "/auth/facebook?scope=user_friends", id: "sign_in", :class => 'signb'%>
      <% end %>
  </div> 

  <% if current_user %>
  <ul>
    <li>
      <a class = "navlink" href ="/mygames" style = "color: orange;"> Current Games </a>
    </li>

    <li>
      <a class = "navlink" href = "/badges" style = "color: red;"> My Badges </a>
    </li>

    <li>
      <a class = "navlink" href ="/profile" style = "color: green;"> My Profile </a>
    </li>
    <li>
      <a class = "navlink" href ="/"> Home </a>
    </li>
  </ul>

  <% else %>
  <ul>
    <li>
      <a class = "navlink3" href ="https://github.com/tinazheng/connectfour" target="_blank">  ᕕ( ᐛ )ᕗ </a>
    </li>
    <li> 
      <a class = "navlinktina" href ="https://www.facebook.com/tinazheng?fref=ts" target="_blank"> o(^▽^)o </a> 
    </li>
    <li> 
      <a class = "navlinkmelissa" href ="https://www.facebook.com/profile.php?id=100000090248103&fref=ts" target="_blank"> o(^▽^)o </a> 
    </li>
    <li> 
      <a class = "navlinkjustin" href ="https://www.facebook.com/justin.ma.5?fref=ts" target="_blank"> o(^▽^)o </a> 
    </li>
    <li> 
      <a class = "navlinknanxi" href ="https://www.facebook.com/ixnanxi?fref=ts" target="_blank"> o(^▽^)o </a> 
    </li>
    <li> 
      <a class = "navlinkcasey" href ="https://www.facebook.com/CaseTakeda?fref=ts" target="_blank"> o(^▽^)o </a> 
    </li>
  </ul>
  <% end %>

</nav>
<%= yield %>
 
 <div id="background"></div>

</body>
</html>